<% content_for :title, "Generating report..." %>
<div id="loading">
  <h2>Loading...</h2>
  <p>Your report is being generated</p>
</div>
<div id="table-container"></div>

<% content_for :scripts do %>
<script type="text/javascript">
  (function() {
    var transposeTable = function(table) {
      return table[0].map(function(col, i) {
        return table.map(function(row) {
          return row[i];
        });
      });
    };
    var createTable = function(data) {
      var tableData = transposeTable(data.table);
      var table = document.createElement('table');

      var tableHeader = document.createElement('thead');
      tableHeader.className = "thead-default";
      var tr1 = document.createElement('tr');
      var headCell = document.createElement('th');
      headCell.colSpan = tableData.length;
      headCell.innerHTML += "Min: " + data.min + ", ";
      headCell.innerHTML += "Mid: " + data.mid + ", ";
      headCell.innerHTML += "Max: " + data.max;
      headCell.className = "text-center";
      table.appendChild(tableHeader);
      tableHeader.appendChild(tr1);
      tr1.appendChild(headCell);
      table.className = "table table-bordered";

      var tableBody = document.createElement('tbody');

      tableData.forEach(function(rowData) {
        var row = document.createElement('tr');

        rowData.forEach(function(cellData) {
          var cell = document.createElement('td');
          cell.appendChild(document.createTextNode(cellData));
          row.appendChild(cell);
        });

        tableBody.appendChild(row);
      });

      table.appendChild(tableBody);
      document.getElementById("table-container").appendChild(table);
    };
    var path = "/get_raport/<%== @slug %>";
    var intervalId = null;
    var res = false;
    var getReport = function() {
      $.ajax({
        url: path,
        method: 'GET',
        success: function(data) {
          if(res) { return; }
          res = true;
          document.title = "Generated report!";
          clearInterval(intervalId);
          createTable(data);
          $("#loading").remove();
          $("#table-container").append("Generated in: " + data.duration);
        },
        fail: function() {}
      });
    };
    getReport();
    intervalId = setInterval(getReport, 750);
  })();
</script>
<% end %>
